<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body class="bodyHome">
    	<header>
    		<div class="container">
                <%= render 'layouts/header' %>
            </div>
    	</header>
    	<section>
    		<div class = "container" id = "projects">
    			<div class="futuraFont" id="name">
    				<p>BRANDT PARKER</p>
    				<div id="blueLine"></div>
    			</div>
    			<div id="about">
    				<p class="bodyFont">
    					My name is Brandt, and I am trying to learn how to program. This is my personal website, used for posting my progress and showing what projects I have been involved in. I am devoting most of my free time to Ruby on Rails. In addition to my projects, I also have my resume posted, as well as pictures from different trips I have taken over the years. 
    				</p>
    			</div>

				<div class = "row homeRow">
					<a href="https://brandtwilliam.herokuapp.com/" target="_blank">
						<div class = "col-md-3 projectColumns" id = "homeColumn1">
							<div class = "temp-circle"></div>
							<h3 class="futuraFont">ROR Tutorial</h3>
							<p class="bodyFont">My first programming project, Michael Hartl's Ruby on Rails Tutorial. I Recommend this tutorial to all who are new to programming.</p>
							<p class="bodyFont" id = "padding1">HTML, CSS, Ruby on Rails, Javascript, SQL, GitHub</p>
						</div>
					</a>
					<a href="https://city-of-hope.herokuapp.com/" target="_blank">
						<div class = "col-md-3 projectColumns" id = "homeColumn2">
							<div class = "temp-circle"></div>
							<h3 class="futuraFont">City of Hope</h3>
							<p class="bodyFont">I created and maintain City of Hope's church website. Credit to Tony Bradshaw for the design and Luke Parham with the ActionMailer help.</p>
							<p class="bodyFont" id = "padding2" >HTML, CSS, Bootstrap, Javascript, Responsive</p>
						</div>
					</a>
					<a href="https://phlick.herokuapp.com" target="_blank">
						<div class = "col-md-3 projectColumns" id = "homeColumn4">
							<div class = "temp-circle"></div>
							<h3 class="futuraFont">Phlick</h3>
							<p class="bodyFont">I worked on the landing page for Phlick during Startup Weekend, Saint Louis. Credit to Brad Martin with the awesome design ideas.</p>
							<p class="bodyFont" id = "padding4">HTML, CSS, Bootstrap, Carousal, Responsive, StartUp Weekend</p>
						</div>
					</a>
					
						<div class = "col-md-3 projectColumns" id = "homeColumn3">
							<div class = "temp-circle"></div>
							<h3 class="futuraFont">Chicken Chasing</h3>
							<p class="bodyFont">I worked on the Home, About, and Contact pages for Chicken Chasing during StartUp Weekend, Columbia, MO. We won best design and 4th overall.</p>
							<p class="bodyFont" id = "padding3">HTML, CSS, Bootstrap, Responsive, StartUp Weekend</p>
						</div>
					
				</div>
			</div>
    	</section>
    </body>
</html>