<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body class="bodyHome">
    	<header>
    		<div class="container">
                <nav id="home-navigation">
                	<ul>
                		<li>Resume</li>
                		<a href = "/about"><li>About</li></a>
                		<li>Home</li>
                	</ul>
                </nav>
            </div>
    	</header>
    	<section>
    		<div class = "container" id = "projects">
    			<div id="name">
    				<p>Brandt Parker</p>
    			</div>
    			<div id="about">
    				<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
    			</div>

				<div class = "row homeRow">
					<div class = "col-md-3 projectColumns" id = "homeColumn1">
						<div class = "temp-circle"></div>
						<h3>ROR Tutorial</h3>
						<p>My first programming project, Michael Hartl's Ruby on Rails Tutorial. Recommended to all who are new to programming.</p>
						<p id = "padding1">HTML, CSS, Ruby on Rails, Javascript, SQL, GitHub</p>
					</div>
					<div class = "col-md-3 projectColumns" id = "homeColumn2">
						<div class = "temp-circle"></div>
						<h3>City of Hope</h3>
						<p>I created City of Hope's church website. Credit to Tony Bradshaw for the design and Luke Parham with the help.</p>
						<p id = "padding2" >HTML, CSS, Bootstrap, Javascript, Responsive</p>
					</div>
					<a href="#">
						<div class = "col-md-3 projectColumns" id = "homeColumn3">
							<div class = "temp-circle"></div>
							<h3>Chicken Chasing</h3>
							<p>I worked on the Home, About, and Contact pages for Chicken Chasing during StartUp Weekend, Columbia, MO.</p>
							<p id = "padding3">HTML, CSS, Bootstrap, Javascript, StartUp Weekend</p>
						</div>
					</a>
					<a href="/pictures">
						<div class = "col-md-3 projectColumns" id = "homeColumn4">
							<div class = "temp-circle"></div>
							<h3>Pictures</h3>
							<p>Inspired by Udemy's course, Projects in HTML5. These are photos from a trip I took earlier this year.</p>
							<p id = "padding4">HTML, CSS, Javascript, JQuery Quicksand, JQuery Fancybox</p>
						</div>
					</a>
				</div>
			</div>
    	</section>
    </body>
</html>