<!DOCTYPE html>
<html>
    <head>
        <title>Photos</title>
        <!-- Main CSS File -->
        <link rel="stylesheet" href="css/pictures.css" type="text/css">
        <!-- Add fancyBox CSS -->
        <link rel="stylesheet" href="css/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/fancybox/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/fancybox/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />

    </head>
    <body>
        <header>
            <div class="container">
                <nav id="navbar"></nav>
            </div>
        </header>
        <section id="main">
            <div class="container">
                <%= render 'layouts/pictures' %>
            </div>
        </section>




        <!-- Include JQuery -->
        <script src="javascripts/jquery.js"></script>
        <!-- Quicksand Plugin -->
        <script src="javascripts/jquery.quicksand.js"></script>
        <!-- Fancybox Js -->
        <script type="text/javascript" src="javascripts/fancybox/Jquery.fancybox.pack.js?v=2.1.5"></script>
        <script type="text/javascript" src="javascripts/fancybox/Jquery.fancybox-buttons.js"></script>
        <script type="text/javascript" src="javascripts/fancybox/Jquery.fancybox-media.js?v=1.0.6"></script>
        <script type="text/javascript" src="javascripts/fancybox/Jquery.fancybox-thumbs.js?v=1.0.7"></script>

        <!-- Include Custom JS -->
        <script src="javascripts/script.js"></script>
        <script>
            //Call Fancybox
            $(document).ready(function(){
                $(".fancybox").fancybox();
            });
        </script>
    </body>
</html>