<nav id="home-navigation">
	<ul>
		<a href = "/pictures" target="_blank"><li>Pictures</li></a>
		<a href = "/ResumeWebsite.pdf" target="_blank"><li>Resume</li></a>
		<!-- <a href = "/about"><li>About</li></a> -->
		<a href = "/"><li>Home</li></a>
	</ul>
</nav>